---
---
@import "{{ site.theme }}";

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

header {
  height: 100%;
  margin:  0px auto;
  background:#237773;
  color: #FEFCFE;
  grid-column: 0 / 2;

  h1 {
    text-align: center;
    color: white;
  }
  h2 {
    color: white;
  }
  img {
    border-radius: 50%;
  }
  p {
    text-align: left;
  }
  p.view {
    text-align: center;
  }
  div.logoname{
    background:#009999;
    padding: 10px 10px 20px 10px;
  }
  div.contact{
    padding: 10px 10px 10px 10px;
  }
  div.diploma{
    padding: 10px 10px 20px 10px;
  }
}



