---
---
@import "{{ site.theme }}";
header {
  height: 100%;
  margin:  0px auto;
  background:#2A959A;
  color: #FEFCFE;

  
  h1 {
    text-align: center;
    color: white;
  }
  img {
    border-radius: 50%;
  }
  p {
    text-align: left;
  }
  p.view {
    text-align: center;
  }
  div.logoname{
    background:#009999;
  }
  div.contact{
    padding: 10px 10px 10px 10px;
  }
  div.diploma{
    padding: 10px 10px 10px 10px;
  }
}
body{
  div.wrapper{
    box-shadow: 0 2 4px lightblue;
  }
}


