---
---
@import "{{ site.theme }}";
header {
  h1 {
    text-align: center;
  }
  img {
    border-radius: 50%;
  }
  p {
    text-align: left;
  }
  p.view {
    text-align: center;
  }
}
body {
  div.wrapper{
    display:grid;
    grid-template-columns:repeat(10, 1fr);
    background:#42A8C0;
    max-width:1000px;
    margin:0 auto;
    position:relative;
    box-shadow: 0 2 4px #000;
    border:1px solid #000;
    }
